*.exe
.DS_Store

*.log
*.bak
*.backup
*~
.*.swp

bin/
modules-dev/
pkg/
vendor/
__pycache__/

.idea
.vscode

.env
./*.tfstate
.terraform
terraform.tfplan
terraform.tfstate
terraform.tfvars
.terraform.tfstate.lock.info

test/terraform/*/provider.tf

.tfcache
**/.terraform.lock.hcl
**/tf_resources.json
**/var.tfvars
